language: go
dist: trusty
sudo: required

go:
  - 1.8

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y ffmpeg

install:
  - go get gopkg.in/resty.v0

script: GOENV=test go test ./...